* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    margin-right: 10px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    font-size: 20px;
    margin-left: 20px;
    font-family: "Noto Serif", serif; 
    
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.register-button {
    font-family: "Noto Serif", serif; 
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.register-button:hover {
    background-color: #45a049;
}


